<aside id="side-bar">
    <div class="d-flex">
        <div class="side-bar-icon"><img src="/assets/images/cancel.png" alt=""></div>
        <div class="side-bar-header bg-grey-light flex-grow">
            <p class="content">Chúc mừng bạn đã được <span class="content-bold text-blue">FREE</span> ship!
            </p>
        </div>
    </div>
    <div class="side-bar-content">
        <p class="content text-uppercase py16 text-center">Giỏ hàng của bạn</p>
        <div class="cart">
            <div class="product-content" ng-repeat="cart in cartCtrl.clientCart">
                <!-- <div class="d-flex">
                    <div class="flex-base-3">
                        <img src="{{product.image}}" class="w-100" alt="">
                    </div>
                    <div class="px8">
                        <p class="content">{{product.name}}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mt8 py8">
                    <div class="flex-base-3 d-flex flex-column align-items-center">
                        <div class="fa fa-angle-up fa-2x" ng-click="cartCtrl.addProductClient(product.product_id)"></div>
                        <div>{{product.quantity}}</div>
                        <div class="fa fa-angle-down fa-2x" ng-click="cartCtrl.removeProductClient(product.product_id)"></div>
                        <a ng-click="cartCtrl.removeItemCartClient(product.product_id)" class="product-remove"><i class="fa fa-times fa-2x"></i></a>
                    </div>
                    <div class="px8">
                        <p class="content font-size-18">{{product.price*product.quantity | number}}đ</p>
                        <p class="content text-price-discount">909.000VND (-40%)</p>
                    </div>
                </div> -->
                <div class="product-cart-quantity">
					<a ng-click="cartCtrl.addProductClient(cart.product_id)" class="cart-quantity-up"><div class="fa fa-angle-up fa-2x"></div></a>
					<div class="cart-quantity-number text-gray-6">{{cart.quantity}}</div>
					<a ng-click="cartCtrl.removeProductClient(cart.product_id)" class="cart-quantity-down"><div class="fa fa-angle-down fa-2x"></div></a>
				</div>
				<a ng-click="cartCtrl.openDetail(cart.product_id)" class="cart-image">
					<div class="img-holder">
						<div class="img-helper">
							<img src="{{cart.image}}">
						</div>
					</div>
                </a>
                <div class="product-price">
					<p>{{cart.price*cart.quantity | number}}đ</p>
				</div>
				<a ng-click="cartCtrl.removeItemCartClient(cart.product_id)" class="product-remove"><i class="fa fa-times fa-2x"></i></a>
            </div>
        </div>
        <div class="mt16 d-flex align-items-center">
            <div class="flex-base-3">
                <p class="content-bold text-grey-less text-center">Tổng cộng</p>
            </div>
            <div>
                <p class="content font-size-24">{{cartCtrl.totalPrice| currency: "": 0: "." }}đ</p>
                <p class="content text-price-discount">1909.000VND (-40%)</p>
            </div>
        </div>
        <div class="mt16 text-center">
            <button class="button-sidebar" type="button" ng-click="cartCtrl.goState('cart')">Thanh toán ngay</button>
        </div>
    </div>
</aside>