<footer class="border-top-1">
    <div class="container py16">
        <div class="row py16 d-flex align-items-center">
            <div class="col-md-3">
                <img class="logo w-50" src="../../../assets/images/logo_vnshop.png" alt="logo">
            </div>
            <div class="col-md-3">
                <div class="content-footer text-bold text-uppercase">
                    Liên lạc
                </div>
            </div>
            <div class="col-md-3">
                <div class="content-footer text-bold text-uppercase">
                    Vnshop
                </div>
            </div>
            <div class="col-md-3">
                <div class="content-footer text-bold text-uppercase">
                    Chăm sóc khách hàng
                </div>
            </div>
        </div>

        <div class="row py16">
            <div class="col-md-3">
                <div class="content-footer">Công ty TNHH Vnshop</div>
                <div class="content-footer mt8">Tầng 7 Hoàng Hòa Thám</div>
                <div class="content-footer mt8">Thụy Khê Hà Nội</div>
            </div>
            <div class="col-md-3">
                <div class="content-footer"><img src="../../../assets/images/icon-call.png" alt="">&nbsp;&nbsp;1900 1542</div>
                <div class="content-footer text-uppercase mt8"><img src="../../../assets/images/icon-mail.png" alt="">&nbsp;&nbsp;suport@vn.com
                </div>
            </div>
            <div class="col-md-3 text-uppercase">
                <div class="content-footer">Giới thiệu</div>
                <div class="content-footer mt8">Tuyển dụng</div>
                <div class="content-footer mt8">Đối tác</div>
            </div>
            <div class="col-md-3 text-uppercase">
                <div class="content-footer">Hỏi đáp</div>
                <div class="content-footer mt8">Chính sách đổi trả</div>
                <div class="content-footer mt8">Điều khoản quy định</div>
                <div class="content-footer mt8">Giao hàng</div>
                <div class="content-footer mt8">Thuế</div>
            </div>
        </div>

    </div>
</footer>