<header class="fixed-top border-bottom-1 bg-white">
    <div class="container">
        <div class="row py16 align-items-center">
            <div class="col-1 col-md-1">
                <div class="nav-icon"><span class="icon-menu"></span></div>
            </div>
            <div class="col-3 col-md-2">
                <img ng-click="headerCtrl.openHome()" class="logo w-75" src="/assets/images/logo_vnshop.png" alt="logo">
            </div>
            <div class="col-6 col-md-5 border-right-1">
                <div class="field">
                    <label for="field-search">
                        <span class="placeholder content">Tìm kiếm</span>
                    </label>
                    <input class="input-search content" id="field-search" type="text">
                    <div class="field-icon nav-icon">
                        <span class="icon-Search"></span>
                    </div>
                </div>
            </div>
            <div class="col-1 col-md-2">
                <div class="nav-icon icon-size-24 text-grey">
                    <a ng-click="headerCtrl.openCart()">
                        <span class="icon-cart"></span>
                        <span class="content hidden-md-down">&nbsp;&nbsp;Giỏ hàng của tôi</span>
                    </a>
                </div>
            </div>
            <div class="col-1 col-md-2">
                <div class="nav-icon icon-size-24 text-grey">
                    <span class="icon-user"></span>
                    <span class="content hidden-md-down">&nbsp;&nbsp;Đào Thái Hà</span>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    (function () {
        var fieldSearch = $('#field-search');
        fieldSearch.focus(function () {
            $('.field label').hide();
        });
        fieldSearch.blur(function () {
            if ($(this).val() === '') {
                $('.field label').show();
            }
        });
    })();
</script>