<header class="fixed-top border-bottom-1 bg-white">
    <div ng-if="headerCtrl.profileData || headerCtrl.token" class="top-nav-bg hidden-lg-down">
        <div class="container">
            <nav class="top-nav content">
                <div class="active top-nav-item"><a href="#">Quản lý tài khoản</a></div>
                <div class="top-nav-item"><a href="#">Đơn hàng của tôi</a></div>
                <div class="top-nav-item"><a href="#">Danh sách yêu thích</a></div>
                <div class="top-nav-item"><a href="#">Nhận xét của tôi</a></div>
                <div class="top-nav-item"><a href="#">Quản lý đơn hàng và đổi trả</a></div>
                <div class="top-nav-item"><a ng-click="headerCtrl.openLogout()">Đăng xuât</a></div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row py16 align-items-center">
            <div class="col-1 col-md-1">
                <a class="nav-icon" href="#" id="hamburger-icon"><span class="icon-menu"></span></a>
            </div>
            <div class="col-3 col-md-2">
                <img ng-click="headerCtrl.goState('home')" class="logo w-75" src="/assets/images/logo_vnshop.png"
                     alt="logo">
            </div>
            <div class="col-6 col-md-5 border-right-1">
                <div class="field">
                    <label for="field-search">
                        <span class="placeholder content">Tìm kiếm</span>
                    </label>
                    <input class="input-search content" id="field-search" type="text">
                    <div class="field-icon nav-icon">
                        <span class="icon-Search"></span>
                    </div>
                </div>
            </div>
            <div class="col-1 col-md-2">
                <div class="nav-icon icon-size-24 text-grey">
                    <a ng-click="headerCtrl.goState('cart')">
                        <span class="icon-cart"></span>
                        <span class="content hidden-md-down">&nbsp;&nbsp;Giỏ hàng</span>
                    </a>
                </div>
            </div>
            <div class="col-1 col-md-2 personal-icon-block">
                <div class="nav-icon icon-size-24 text-grey">
                    <!-- <span class="icon-user"></span>
                    <span class="content hidden-md-down">&nbsp;&nbsp;Đào Thái Hà</span> -->
                    <p ng-show="!headerCtrl.profileData || !headerCtrl.token">
					<a href="javascripts:;" id="loginBtn">
						<!-- <img src="/assets/images/icon_user.png"/> -->
						<span>Đăng nhập</span>
                    </a>
                    <span>| <a href="javascripts:;" ng-click="headerCtrl.goState('register')">Đăng ký</a></span>
                    </p>
                    <p ng-if="headerCtrl.profileData && headerCtrl.token">
                        <span href="javascripts:;">
                            {{headerCtrl.profileData.username}}
                        </span>
                    </p>
                </div>
                <div class="login-popup">
                    <p class="content">Username</p>
                    <input class="input-control" type="email" ng-model="headerCtrl.email" id="email" required ng-minlength="3" type="email">
                    <p class="content mt16">Password</p>
                    <input class="input-control" ng-model="headerCtrl.password" id="password" required ng-minlength="1" type="password">
                    <div class="text-center">
                        <button class="button-login mt16" type="button" ng-click="headerCtrl.login()" type="submit" ng-disabled="myForm.$invalid">Đăng nhập</button>
                    </div>
                    <div class="mt16 text-center">
                        <div class="d-flex justify-content-between">
                            <p class="content">Đăng nhập với</p>
                            <div><a ng-click="headerCtrl.goState('forgotPassword')">Quên mật khẩu</a></div>
                        </div>
                        <a ng-click="headerCtrl.authenticate('facebook')"><img class="w-100 mt8" src="assets/images/login-fb.png" alt=""></a>
                        <a ng-click="headerCtrl.authenticate('google')"><img class="w-100 mt8" src="assets/images/login-google.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="slide-left-nav">
    <ul class="nav navbar-nav megamenu">
        <li ng-repeat="submenu in headerCtrl.listCategory track by $index" class="dropdown">
            <a ng-click="headerCtrl.goCatPage(submenu)">
                <span>
                    {{submenu.name}}
                </span>
                <b class="caret" ng-if="submenu.children.length != 0">
                </b>
            </a>
            <!-- Menu Level 2 -->
            <div class="dropdown-megamenu level1" ng-if="submenu.children.length != 0">
                <div class="dropdown-megamenu-inner">
                    <div class="row">
                        <div class="mega-col col-xs-12 col-sm-12 col-md-12">
                            <div class="mega-col-inner">
                                <ul>
                                    <li ng-repeat="child in submenu.children" class="dropdown-submenu">
                                        <a ng-click="headerCtrl.goCatPage(child)">
                                            <span>{{child.name}}</span>
                                            <b class="caret" ng-if="child.children.length != 0"></b>
                                        </a>
                                        <!-- Menu Level 3 -->
                                        <div class="dropdown-megamenu level2" ng-if="child.children.length != 0">
                                            <div class="dropdown-megamenu-inner">
                                                <div class="row">
                                                    <div class="mega-col col-xs-12 col-sm-12 col-md-12">
                                                        <div class="mega-col-inner">
                                                            <ul>
                                                                <li ng-repeat="child2 in child.children">
                                                                    <a ng-click="headerCtrl.goCatPage(child2)">
                                                                        <span>{{child2.name}}</span>
                                                                        <b class="caret" ng-if="child2.children.length != 0"></b>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
<div id="popupProvince" class="modal">
	<!-- Modal content -->
	<div class="modal-content location">
		<a class="close" rel="modal:close"> &nbsp </a>
		<div class="clearfix"></div>
		<div class="text-center title">Bạn muốn sử dụng dịch vụ ở đâu?</div>
		<form class="from-position">
			<input type="text" ng-model="headerCtrl.provinceId" placeholder="Tỉnh / thành phố" />
			<button ng-click="headerCtrl.goState('deals')">TIẾP TỤC</button>
		</form>
	</div>
</div>
<script>
    (function () {
        var fieldSearch = $('#field-search');
        var loginPopup = $(".login-popup");
        fieldSearch.focus(function () {
            $('.field label').hide();
        });
        fieldSearch.blur(function () {
            if ($(this).val() === '') {
                $('.field label').show();
            }
        });
        var slideNav = $('.slide-left-nav');
        $('#hamburger-icon').click(function (e) {
            e.preventDefault();
            navToggle();
        });
        $('#nav-close').click(function (e) {
            e.preventDefault();
            navToggle();
        });
        $('#loginBtn').click(function (e) {
            if(loginPopup.hasClass('show')){
                loginPopup.removeClass('show');
            } else {
                loginPopup.addClass('show');
            }
        });
        function navToggle() {
            if (slideNav.hasClass('show')) {
                slideNav.removeClass('show');
                $('.slide-left-nav').animate({
                    left: "-=250"
                }, 400);
            } else {
                slideNav.addClass('show');
                $('.slide-left-nav').animate({
                    left: "+=250"
                }, 400);
            }
        }
        $('#personal-info').click(function () {

        });
    })();

</script>