<header class="fixed-top border-bottom-1 bg-white">
    <div class="top-nav-bg hidden-lg-down">
        <div class="container">
            <nav class="top-nav content">
                <div class="active top-nav-item"><a href="#">Quản lý tài khoản</a></div>
                <div class="top-nav-item"><a href="#">Quản lý tài khoản</a></div>
                <div class="top-nav-item"><a href="#">Quản lý tài khoản</a></div>
                <div class="top-nav-item"><a href="#">Quản lý tài khoản</a></div>
                <div class="top-nav-item"><a href="#">Quản lý tài khoản</a></div>
                <div class="top-nav-item"><a href="#">Đăng xuât</a></div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row py16 align-items-center">
            <div class="col-1 col-md-1">
                <a class="nav-icon" href="#" id="hamburger-icon"><span class="icon-menu"></span></a>
            </div>
            <div class="col-3 col-md-2">
                <img ng-click="headerCtrl.goState('home')" class="logo w-75" src="/assets/images/logo_vnshop.png"
                     alt="logo">
            </div>
            <div class="col-6 col-md-5 border-right-1">
                <div class="field">
                    <label for="field-search">
                        <span class="placeholder content">Tìm kiếm</span>
                    </label>
                    <input class="input-search content" id="field-search" type="text">
                    <div class="field-icon nav-icon">
                        <span class="icon-Search"></span>
                    </div>
                </div>
            </div>
            <div class="col-1 col-md-2">
                <div class="nav-icon icon-size-24 text-grey">
                    <a ng-click="headerCtrl.goState('cart')">
                        <span class="icon-cart"></span>
                        <span class="content hidden-md-down">&nbsp;&nbsp;Giỏ hàng của tôi</span>
                    </a>
                </div>
            </div>
            <div class="col-1 col-md-2 personal-icon-block">
                <div class="nav-icon icon-size-24 text-grey">
                    <span class="icon-user"></span>
                    <span class="content hidden-md-down">&nbsp;&nbsp;Đào Thái Hà</span>
                </div>
                <div class="login-popup">
                    <p class="content">Username</p>
                    <input class="input-control" type="text">
                    <p class="content mt16">Password</p>
                    <input class="input-control" type="text">
                    <div class="d-flex justify-content-between mt16 align-items-center">
                        <button class="button-login" type="button">Đăng nhập</button>
                        <div><a href="#">Quên mật khẩu</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="slide-left-nav">
    <ul class="content">
        <li ng-repeat="submenu in headerCtrl.listCategory track by $index"><a
                ng-click="headerCtrl.goSubCat($index, submenu)">{{submenu.name}}</a></li>
    </ul>
</nav>
<script>
    (function () {
        var fieldSearch = $('#field-search');
        fieldSearch.focus(function () {
            $('.field label').hide();
        });
        fieldSearch.blur(function () {
            if ($(this).val() === '') {
                $('.field label').show();
            }
        });
        var slideNav = $('.slide-left-nav');
        $('#hamburger-icon').click(function (e) {
            e.preventDefault();
            navToggle();
        });
        $('#nav-close').click(function (e) {
            e.preventDefault();
            navToggle();
        });
        function navToggle() {
            if (slideNav.hasClass('show')) {
                slideNav.removeClass('show');
                $('.slide-left-nav').animate({
                    left: "-=200"
                }, 400);
            } else {
                slideNav.addClass('show');
                $('.slide-left-nav').animate({
                    left: "+=200"
                }, 400);
            }
        }
        $('#personal-info').click(function () {

        });
    })();
</script>
