/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/public/build
/.idea
composer.lock
storage/
/node_modules
/resources/build
config.json
/app/config.js
/public/assets/css
/public/assets/js
/public/assets/rev-manifest.json
