<body ng-app="myApp">
<div class="wrap-register">
    <div class="text-center" >
        <a href="scripts:;" ng-click="ctrl.openHome()">
            <img src="/assets/images/logo.png"/>
        </a>
    </div>
    <div class="wrapper">
        <div class="register">
            <p class="">Quên mật khẩu</p>
            <form class="from-register" name="myForm">
                <input type="hidden" ng-model="ctrl.user.id"/>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="email">E-mail</label>
                        <div class="col-md-7">
                            <input type="email" ng-model="ctrl.email" id="email" required
                                   ng-minlength="3" style="padding-left: 5px"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.email.$error.required">This is a required field</span>
                                <span ng-show="myForm.email.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.email.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="color: red;" ng-if="ctrl.forgotData === 'Mã xác nhận đã được gửi về email! Bạn vui lòng điền mã xác nhận để nhận mật khẩu mới vào email' || ctrl.forgotData === 'Mật khẩu mới đã được gửi về email! Bạn vui lòng kiểm tra email!' || ctrl.forgotData === 'Mã xác nhận không chính xác'">
                    <!--<div style="color: darkgreen;">Mã xác nhận đã được gửi về email! Bạn vui lòng điền mã xác nhận để lấy mật khẩu mới</div>-->
                    <div class="col-md-7">
                        <input ng-model="ctrl.code" id="code" required
                               ng-minlength="3" style="padding-left: 5px"/>
                        <div class="has-error" ng-show="myForm.$dirty">
                            <span ng-show="myForm.code.$error.required">This is a required field</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <input id="forgot" ng-click="ctrl.confirm()" type="submit" ng-disabled="myForm.$error.required" class="btn btn-primary btn-sm btn-submit" value="Xác nhận">
                </div>
                <div style="color: red;" ng-if="ctrl.forgotData != 'Mã xác nhận đã được gửi về email! Bạn vui lòng điền mã xác nhận để nhận mật khẩu mới vào email' && ctrl.forgotData != '' && ctrl.forgotData != 'Mật khẩu mới đã được gửi về email! Bạn vui lòng kiểm tra email!'">{{ctrl.forgotData}}</div>
                <div style="color: darkgreen;" ng-if="ctrl.forgotData != 'Mã xác nhận không chính xác' && ctrl.forgotData != ''">{{ctrl.forgotData}}</div>
                <div class="clearfix"></div>
                <input id="register"  ng-if="ctrl.forgotData != 'Mã xác nhận đã được gửi về email! Bạn vui lòng điền mã xác nhận để nhận mật khẩu mới vào email' && ctrl.forgotData != 'Mật khẩu mới đã được gửi về email! Bạn vui lòng kiểm tra email!' && ctrl.forgotData != 'Mã xác nhận không chính xác'" ng-click="ctrl.forgotPassword()" type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary btn-sm btn-submit" value="Đồng ý">
                <!--<input type="submit"  value="ĐĂNG KÝ" ng-disabled="myForm.$invalid">-->
            </form>

            <style>
                .wrap-register .register input[type=submit]{
                    text-align: center; height: 40px; cursor: pointer; background: #337ab7; color: #FFF
                }
                .wrap-register .register input[type=submit][disabled=disabled]
                 {
                background: darkgray;
                }
            </style>
        </div>
    </div>
</div>

</body>