<div class="login">
	<div class="text-center">
		<a href="scripts:;" ng-click="ctrl.openHome()">
			<img src="/assets/images/logo.png"/>
		</a>
	</div>
	<div class="wrapper">
		<div class="wrap-login">
			<form class="from-register">
				<label>E-mail</label>
				<input type="text" ng-model="ctrl.email" required/>
				<label>Mật khẩu</label>
				<input type="password" ng-model="ctrl.password" required/>
				<p class="text-right"><a href="">Quên mật khẩu?</a></p>
				<button ng-click="ctrl.login()">ĐĂNG NHẬP</button>
				<p class="login-more">Đăng nhập với  &nbsp &nbsp
					<span style="cursor: pointer" ng-click="ctrl.authenticate('facebook')"><img src="/assets/images/icon_login_facebook.png" /></span> &nbsp &nbsp
					<span style="cursor: pointer" ng-click="ctrl.authenticate('google')"><img src="/assets/images/icon_login_google.png" /></span>
					 &nbsp &nbsp / Hoặc với tài khoản Mobile Banking của bạn
				</p>
			</form>
		</div>
	</div>
</div>