<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<header class="fixed-top border-bottom-1 bg-white">
    <div class="container">
        <div class="row py16 align-items-center">
            <div class="col-1">
                <div class="nav-icon"><span class="icon-menu"></span></div>
            </div>
            <div class="col-2">
                <img class="logo w-75" src="../../../assets/images/logo_vnshop.png" alt="logo">
            </div>
            <div class="col-5 border-right-1">

                <div class="field">
                    <label for="field-search">
                        <span class="placeholder content">Tìm kiếm</span>
                    </label>
                    <input class="input-search content" id="field-search" type="text">
                    <div class="field-icon nav-icon">
                        <span class="icon-Search"></span>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="nav-icon icon-size-24 text-grey"><span class="icon-cart"></span><span class="content">&nbsp;&nbsp;Giỏ hàng của tôi</span>
                </div>
            </div>
            <div class="col-2">
                <div class="nav-icon icon-size-24 text-grey"><span class="icon-user"></span><span class="content">&nbsp;&nbsp;Đào Thái Hà</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container py24">
        <div class="row">
            <ol class="breadcrumb content">
                <li class="breadcrumb-item"><a href="#">VNSHOP</a></li>
                <li class="breadcrumb-item"><a href="#">Thời trang</a></li>
                <li class="breadcrumb-item active">Thời trang nữ</li>
            </ol>
        </div>

        <div class="row mt32">

            <div class="col-8">
                <div class="cat-box">
                    <img class="w-100 h-100" src="../../../assets/images/female-b-1.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex flex-column justify-content-between">
                <div class="cat-box">
                    <img class="w-100" src="../../../assets/images/female-2.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>

                <div class="cat-box">
                    <img class="w-100" src="../../../assets/images/female-3.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt32">
            <div class="col-4">
                <div class="cat-box w-32">
                    <img class="w-100" src="../../../assets/images/female-4.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cat-box w-32">
                    <img class="w-100" src="../../../assets/images/female-5.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cat-box w-32">
                    <img class="w-100" src="../../../assets/images/female-6.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt32">
            <div class="col-12 text-center">
                <div class="content-title">- Sản phẩm mới -</div>
            </div>

            <div class="col-12 mt8 d-flex flex-wrap justify-content-between">
                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row mt32">
            <div class="col-4">
                <div class="cat-box w-32">
                    <img class="w-100" src="../../../assets/images/female-4.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cat-box w-32">
                    <img class="w-100" src="../../../assets/images/female-5.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cat-box w-32">
                    <img class="w-100" src="../../../assets/images/female-6.png" alt="">
                    <div class="cat-box-item">
                        Bộ sưu tập Essentials<br>
                        "Shop more and save more"
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt32">
            <div class="col-12 text-center">
                <div class="content-title">- Sản phẩm hot nhất -</div>
            </div>

            <div class="col-12 mt8 d-flex flex-wrap justify-content-between">
                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>

                <div class="cat-box-small">
                    <img class="w-100" src="../../../assets/images/female-s-1.png" alt="">
                    <div class="cat-box-small-text">
                        <div class="product-name">Bộ sưu tập Essentials</div>
                        <div class="product-price mt16">150.000 VND</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer class="border-top-1">
    <div class="container py16">
        <div class="row py16 d-flex align-items-center">
            <div class="col-3">
                <img class="logo w-50" src="../../../assets/images/logo_vnshop.png" alt="logo">
            </div>
            <div class="col-3">
                <div class="content-footer text-bold text-uppercase">
                    Liên lạc
                </div>
            </div>
            <div class="col-3">
                <div class="content-footer text-bold text-uppercase">
                    Vnshop
                </div>
            </div>
            <div class="col-3">
                <div class="content-footer text-bold text-uppercase">
                    Chăm sóc khách hàng
                </div>
            </div>
        </div>

        <div class="row py16">
            <div class="col-3">
                <div class="content-footer">Công ty TNHH Vnshop</div>
                <div class="content-footer mt8">Tầng 7 Hoàng Hòa Thám</div>
                <div class="content-footer mt8">Thụy Khê Hà Nội</div>
            </div>
            <div class="col-3">
                <div class="content-footer"><img src="../../../assets/images/icon-call.png" alt="">&nbsp;&nbsp;1900 1542</div>
                <div class="content-footer text-uppercase mt8"><img src="../../../assets/images/icon-mail.png" alt="">&nbsp;&nbsp;suport@vn.com</div>
            </div>
            <div class="col-3 text-uppercase">
                <div class="content-footer">Giới thiệu</div>
                <div class="content-footer mt8">Tuyển dụng</div>
                <div class="content-footer mt8">Đối tác</div>
            </div>
            <div class="col-3 text-uppercase">
                <div class="content-footer">Hỏi đáp</div>
                <div class="content-footer mt8">Chính sách đổi trả</div>
                <div class="content-footer mt8">Điều khoản quy định</div>
                <div class="content-footer mt8">Giao hàng</div>
                <div class="content-footer mt8">Thuế</div>
            </div>
        </div>

    </div>
</footer>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/tether.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>
    (function () {

        var fieldSearch = $('#field-search');
        fieldSearch.focus(function () {
            $('.field label').hide();
        });

        fieldSearch.blur(function () {
            if ($(this).val() === '') {
                $('.field label').show();
            }
        });



    })();
</script>
</body>
</html>