<main>
    <div class="container py24">
        <div class="row">
            <ol class="breadcrumb content">
                <li class="breadcrumb-item"><a href="#" ng-click="ctrl.openHome()">VNSHOP</a></li>
                <li ng-repeat="parent in ctrl.parents track by $index" ng-click="ctrl.openCategory(parent.id)" class="breadcrumb-item">Nhà cung cấp</li>
                <li class="breadcrumb-item active">{{ctrl.category.name}}</li>
            </ol>
        </div>
        <div class="row mt16">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
						<select class="form-control content mt16" ng-model="ctrl.sort" ng-change="sort()">>
							<option value="" ng-selected="selected">-- Sắp xếp theo --</option>
							<option value="1">Giá tăng dần</option>
							<option value="2">Giá giảm dần</option>
							<option value="3">Sản phẩm mới</option>
						</select>

						<select class="form-control content mt16" ng-model="ctrl.limit" ng-change="limit()">>
							<option value="12" ng-selected="selected">Hiển thị 12 sản phẩm</option>
							<option value="24">Hiển thị 24 sản phẩm</option>
							<option value="60">Hiển thị 60 sản phẩm</option>
							<option value="90">Hiển thị 90 sản phẩm</option>
						</select>
                    </div>
                </div>
                <div class="row py16 border-bottom-1">
                    <div class="col-12">
                        <div class="content mb8">Thương hiệu</div>
                        <div ng-repeat="brand in ctrl.brands track by $index">
                            <div ng-if="ctrl.brandId.indexOf(brand.id) > -1" ng-click="ctrl.openBrand(brand.id, 1)" class="d-flex align-items-center">
                                <input type="checkbox" checked value="{{brand.id}}" /><span>&nbsp;&nbsp;&nbsp;{{ brand.name | limitTo: 20 }}{{brand.name.length > 20 ? '...' : ''}}</span>
                            </div>
                            <div ng-if="ctrl.brandId.indexOf(brand.id) <= -1" ng-click="ctrl.openBrand(brand.id)" class="d-flex align-items-center">
                                <input type="checkbox" value="{{brand.id}}" /><span>&nbsp;&nbsp;&nbsp;{{ brand.name | limitTo: 20 }}{{brand.name.length > 20 ? '...' : ''}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py16">
                    <div class="col-12">
                        <div class="content mb8">Khoảng giá</div>
                        <div class="d-flex align-items-center" ng-if="'0,500000' == ctrl.ratePrice" ng-click="ctrl.openRatePrice('0,500000', 1)"><input type="checkbox" checked /><span>&nbsp;&nbsp;&nbsp;Dưới 500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="'0,500000' != ctrl.ratePrice" ng-click="ctrl.openRatePrice('0,500000')"><input type="checkbox" /><span>&nbsp;&nbsp;&nbsp;Dưới 500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="'500000,1500000' == ctrl.ratePrice" ng-click="ctrl.openRatePrice('500000,1500000', 1)"><input type="checkbox" checked /><span>&nbsp;&nbsp;&nbsp;500.000 - 1.500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="'500000,1500000' != ctrl.ratePrice" ng-click="ctrl.openRatePrice('500000,1500000')"><input type="checkbox" /><span>&nbsp;&nbsp;&nbsp;500.000 - 1.500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="'1500000,2500000' == ctrl.ratePrice" ng-click="ctrl.openRatePrice('1500000,2500000', 1)"><input type="checkbox" checked /><span>&nbsp;&nbsp;&nbsp;1.500.000 - 2.500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="'1500000,2500000' != ctrl.ratePrice" ng-click="ctrl.openRatePrice('1500000,2500000')"><input type="checkbox" /><span>&nbsp;&nbsp;&nbsp;1.500.000 - 2.500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="2500000 == ctrl.ratePrice" ng-click="ctrl.openRatePrice('2500000', 1)"><input type="checkbox" checked /><span>&nbsp;&nbsp;&nbsp;Trên 2.500.000</span></div>
                        <div class="d-flex align-items-center" ng-if="2500000 != ctrl.ratePrice" ng-click="ctrl.openRatePrice('2500000')"><input type="checkbox" /><span>&nbsp;&nbsp;&nbsp;Trên 2.500.000</span></div>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="row content">
                    <div ng-if="!ctrl.hasData">Không tìm thấy sản phẩm</div>
                    <div ng-repeat="product in ctrl.products track by $index" class="col-6 mt16 d-flex">
                        <div class="flex-grow-7">
                            <a ng-click="ctrl.openDetail(product.id)"><img class="w-100" src="{{product.image}}" alt=""></a>
                        </div>
                        <div class="flex-grow-5">
                            <div class="voucher-box h-100">
                                <div class="voucher-title border-bottom-1 pb8"><a ng-click="ctrl.openDetail(product.id)">{{product.name}}</a></div>
                                <div class="voucher-address py8 flex-grow">
                                    <div class="" ng-repeat="location in product.locations track by $index">{{location.name}}</div>
                                    <div class="">Thời gian áp dụng:</div>
                                    <div class="">{{product.start_date}} - {{product.expired_date}}</div>
                                </div>
                                <div class="product-price">{{ product.price | number }} VND</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
