<main>
    <div class="container py24">
        <div class="row px16">
            <ol class="breadcrumb content">
                <li class="breadcrumb-item"><a ng-click="ctrl.openHome()">VNSHOP</a></li>
                <li class="breadcrumb-item" ng-repeat="parent in ctrl.parents track by $index"><a ng-click="ctrl.openCategory(parent.id)">{{parent.name}}</a></li>
                <li class="breadcrumb-item active" >{{ctrl.product.category.name}}</li>
            </ol>
        </div>
        <div class="row content mt16">
            <div class="col-10">
                <div class="row">
                    <div class="col-12 mb16">
                        <div class="font-size-18">
                            {{ctrl.product.name}}
                        </div>
                    </div>
                    <div class="col-2">
                        <img ng-repeat="slideImage in ctrl.product.images.slice(1,ctrl.product.images.length)" class="w-100" ng-src="{{slideImage.path}}" alt="">
                    </div>
                    <div class="col-5">
                        <img class="w-100" src="{{ctrl.product.images[0].path}}" alt="">
                    </div>
                    <div class="col-5">
                        <div class="font-size-16">Combo bộ trang điểm và phấn nền Babor
                            3 sản phẩm
                        </div>
                        <div class="mt16">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut
                            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                            exerci
                            tation
                            ullamcorper suscipit lobortis nisl ut aliqui.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        </div>
                        <div class="mt16 d-flex align-items-center">
                            <div>Số lượng</div>
                            <button class="button-normal-grey-small ml16 bg-grey-light text-black" ng-click="ctrl.addQuantity()">+</button>
                            <div class="ml16 box-span">{{ctrl.quantity}}</div>
                            <button class="button-normal-grey-small ml16 bg-grey-light text-black" ng-click="ctrl.subQuantity()">-</button>
                        </div>
                        <div ng-show="ctrl.hasVariants" ng-show="ctrl.product.options.hasOwnProperty('option1')" class="mt16 d-flex align-items-center">
                            <div>{{ctrl.product.options.option1 | uppercase}}</div>
                            <div class="ml16">
                                <select class="form-control">
                                    <option ng-repeat="variant in ctrl.product.variants | unique:'option1'" ng-click="ctrl.changeOption1(variant.option1)">
                                        {{variant.option1}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="py16 font-size-18">
                            {{ ctrl.price | number }}
                        </div>
                        <div class="row mt16">
                            <div class="col-6">
                                <button ng-disabled="ctrl.isAddingCart" ng-click="ctrl.addProductToCart(ctrl.product)" class="button-normal-grey-small bg-grey-light w-100">Thêm vào giỏ</button>
                            </div>
                            <div class="col-6">
                                <button class="button-normal-grey-small w-100">Mua ngay</button>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt32 content">
                    <div class="col-12 ">
                        <div class="text-uppercase">Thông tin sản phẩm</div>
                        <div class="mt16" style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word;" ng-bind-html="ctrl.product.description"></div>
                    </div>
                </div>
                <div class="row content py16 border-top-1 mt32">
                    <div class="col-12 text-center py16">
                        - Sản phẩm bạn có thể thích -
                    </div>
                    <div class="col-6 mt16 d-flex">
                        <div class="flex-grow-7">
                            <img class="w-100" src="/assets/images/voucher-1.png" alt="">
                        </div>
                        <div class="flex-grow-5">
                            <div class="voucher-box h-100">
                                <div class="voucher-title border-bottom-1 pb8">MonSoon Music Festival 2017 tại Hoàng
                                    Thành - Hà Nội
                                </div>
                                <div class="voucher-address py8 flex-grow">
                                    <div class="">TP Hà Nội</div>
                                    <div class="">Thời gian áp dụng:</div>
                                    <div class="">24/1/2141 - 21/1/1212</div>
                                </div>
                                <div class="product-price">150.000 VND</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt16 d-flex">
                        <div class="flex-grow-7">
                            <img class="w-100" src="/assets/images/voucher-1.png" alt="">
                        </div>
                        <div class="flex-grow-5">
                            <div class="voucher-box h-100">
                                <div class="voucher-title border-bottom-1 pb8">MonSoon Music Festival 2017 tại Hoàng
                                    Thành - Hà Nội
                                </div>
                                <div class="voucher-address py8 flex-grow">
                                    <div class="">TP Hà Nội</div>
                                    <div class="">Thời gian áp dụng:</div>
                                    <div class="">24/1/2141 - 21/1/1212</div>
                                </div>
                                <div class="product-price">150.000 VND</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt16 d-flex">
                        <div class="flex-grow-7">
                            <img class="w-100" src="/assets/images/voucher-1.png" alt="">
                        </div>
                        <div class="flex-grow-5">
                            <div class="voucher-box h-100">
                                <div class="voucher-title border-bottom-1 pb8">MonSoon Music Festival 2017 tại Hoàng
                                    Thành - Hà Nội
                                </div>
                                <div class="voucher-address py8 flex-grow">
                                    <div class="">TP Hà Nội</div>
                                    <div class="">Thời gian áp dụng:</div>
                                    <div class="">24/1/2141 - 21/1/1212</div>
                                </div>
                                <div class="product-price">150.000 VND</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt16 d-flex">
                        <div class="flex-grow-7">
                            <img class="w-100" src="/assets/images/voucher-1.png" alt="">
                        </div>
                        <div class="flex-grow-5">
                            <div class="voucher-box h-100">
                                <div class="voucher-title border-bottom-1 pb8">MonSoon Music Festival 2017 tại Hoàng
                                    Thành - Hà Nội
                                </div>
                                <div class="voucher-address py8 flex-grow">
                                    <div class="">TP Hà Nội</div>
                                    <div class="">Thời gian áp dụng:</div>
                                    <div class="">24/1/2141 - 21/1/1212</div>
                                </div>
                                <div class="product-price">150.000 VND</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
