@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic&subset=latin,vietnamese,cyrillic-ext,latin-ext);
a, body {color: #333}
.blockrows, .boxshare, .bxlistheroes .search-heros, .listheroes, .newstop, .postRelate, .postimg, .postvideo, .search-social, .widget-title, footer {overflow: hidden}
body, dd, div, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, html, img, input, label, legend, li, ol, p, textarea, ul {margin: 0;padding: 0;border: 0;list-style: none;outline: 0!important}
embed, img, object {border: 0;max-width: 100%;vertical-align: middle;height: auto}
html {background-color: #ffffff}
body {position: relative;font-size: 15px;font-family: Roboto, Arial, Helvetica, sans-serif!important;font-style: normal;font-weight: 400;line-height: 22px;margin: 0!important}
a {outline: 0;text-decoration: none;}
a:hover {color: #ec2c39}
section{overflow:hidden}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0}
* html .clearfix {height: 1%}
.header  .wrapper{background-color:#112530;}
.header {background-color:#112530;color:#fff;line-height:30px;text-align:right}
.header a{color:#fff;padding-left:20px;}

/* 21,55,24 */
.w10{width:10%}
.w20{width:20%}
.w21{width:21%}
.w24{width:24%}
.w25{width:25%}
.w40{width:40%}
.w30{width:30%}
.w50{width:50%}
.w60{width:60%}
.w55{width:55%}
.w70{width:70%}
.w71{width:71%}
.w79{width:79%}
.w80{width:80%}
.w100{width:100%}
.p10{padding:10px;}
.pl2{padding-left:2px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pb2{padding-bottom:2px;}
.pt10{padding-top:10px;}
.pt5{padding-top:5px;}
.pb10{padding-bottom:10px;}
.mb10{margin-bottom:10px;}
.mt10{margin-top:10px;}
.ml5{margin-left:5px;}
.ml20{margin-left:20px;}
.ml10{margin-left:10px;}
.mr5{margin-right:5px;}
.mr20{margin-right:20px;}
.mr10{margin-right:10px;}
.bgfbf9f9{background-color: #fbf9f9;}
.bgf6f6f6{background-color: #f6f6f6;}
.bgffffff{background-color: #ffffff;}
.bgebebeb{background-color: #ebebeb;}
.hide{display:none}

.left {float:left;}
.right {float:right;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.fw {font-weight:700;}
.fw100 {font-weight:100;}

.more_products {padding-bottom:10px;}
.more_products .img{height:100px}
.more_products .link{line-height:100px;background: rgba(0, 0, 0, 0.64);margin-top: -100px;text-align: center;width: 100%;text-transform:uppercase;}
.more_products .link a{color:#fff;}

.block_menu a{line-height:40px;padding-left:5px;padding-right:5px;text-transform:uppercase;}

.menu-primary {}
.menu-primary  li {padding: 0px 5px 0px 40px;line-height:45px;}
.menu-primary  li a{color:#112530;display: inline-block;height: 100%;width: 100%;}
.menu-primary  li img{width:auto;padding-right:10px}
.menu-primary  li:hover a{color:#fff}
.menu-primary  li:hover,.menu-primary  li.active{background-color:#ec2c39;}
.menu-primary  li.active:before,.menu-primary  li:hover:before{content:"\A";border-style: solid;border-width: 20px 0 25px 5px;border-color: transparent transparent transparent #ec2c39;position: absolute;right: -5px;}
.cat-more{line-height:50px;font-size:15px;font-weight:700}
.cat-more a{padding-left:50px;text-transform:uppercase;}

.search .from-search,.search .cart{padding-top:30px}
.search .from-search input{border:2px #f80b43 solid;height:20px;padding:10px 0px;width:80%}
.search .from-search button{width:20%;border:none;height:44px;margin:0px;background:url(../images/icon_search.png) 110px no-repeat #f80b43;color:#fff;margin-left: -10px;}
.search .cart{text-align:right}

.footer .block{padding:0% 20%;text-align:center}
.footer .block-top,.footer .block-bottom{padding:40px 0px 25px 0px; border-bottom:1px #ebebeb solid}
.footer .register {padding-top:35px;padding-bottom:20px}
.footer .register span{font-weight:bold;padding-right:10px}
.footer .register .pay{text-align:right;}
.footer .register .from-register{text-align:right;}
.footer .register .from-register input{width:50%;border:2px #000 solid;height:20px;padding:10px 0px}
.footer .register .from-register button{border:2px #000 solid;padding:0px 10px;height:44px;margin:0px;background-color:#000;color:#fff;margin-left: -10px;}
.footer .block-top .title {font-weight:bold;padding:20px 0px 10px 0px;}
.footer .block-bottom .title {padding:10px 0px 10px 0px;font-weight: 300;}
.footer .block-bottom  {padding-top:10px;}

.product-cat .product-cat-left, 
.product-cat .product-cat-right{float:left;width:50%;}
.product-cat .product-cat-right .product-top,
.product-cat .product-cat-right .product-bottom{padding-left:2px;}
.product-cat .product-cat-left .product-left, 
.product-cat .product-cat-left .product-right{float:left;width:50%;}
.product-cat .product-cat-left .product-right .product{padding-left:1px;}
.product-cat .product-cat-left .product-left .product{padding-right:1px;}
.product-deal .position,
.product-cat .product-cat-left .position{color:#fff;background-color:#000; padding:5px 10px;margin-bottom: 10px;}

.product-cat .product-cat-right .product{float:left;width:33.3333333%;}
.product-cat .product-cat-right .position{padding-left:5px}
.product-ad img,
.product-deal .img img,
.product-cat .img img{width:100%;}
.product-deal .title,
.product-cat .title{font-weight:700;padding:5px 0px 2px 5px}
.product-deal .price,
.product-cat .price{padding-left:5px;font-size:13px;padding-bottom:15px;}
.product-deal .price span,
.product-cat .price span{color:#ff2514;}

.product-cat .cat{margin-bottom: -50px;position: absolute;}
.cat .title-cat{line-height:50px;color:#fff;padding:0px 20px;text-transform:uppercase;}
.cat .title-cat span{padding-left:10px;}
.cat .arrow{width: 0px;height: 0px;border-bottom: 25px solid transparent;border-top: 25px solid transparent;}

.cat .yellow .title-cat{background-color:#f8ca3e;}
.cat .yellow .arrow {border-left: 10px solid #f8ca3e;}

.cat .blue .title-cat{background-color:#00bdd2;}
.cat .blue .arrow {border-left: 10px solid #00bdd2;}

.cat .green .title-cat{background-color:#7cb342;}
.cat .green .arrow {border-left: 10px solid #7cb342;}

.cat .red .title-cat{background-color:#f80b43;}
.cat .red .arrow {border-left: 10px solid #f80b43;}
.wrapper {width:1400px;margin: 0 auto;}

.login {background-color:#f6f6f6;padding-bottom:60px;padding-top:50px;}
.wrap-login a{color:#256fba}
.wrap-login {margin:20px 250px;padding:50px 100px;background-color:#fff}
.wrap-login input{width:100%;border:1px #ebebeb solid;height:20px;padding:10px 0px;margin:5px 0px 15px 0px}
.wrap-login button{width:100%;border:2px #f80b43 solid;padding:0px 10px;height:44px;margin:30px 0px 20px 0px;background-color:#f80b43;color:#fff;}

.wrap-qrcode {margin:20px 250px;padding:50px 100px;background-color:#fff;text-align:center}
.wrap-qrcode button{width:100%;border:2px #ec2c39 solid;padding:0px 10px;height:44px;margin:30px 0px 20px 0px;background-color:#ec2c39;color:#fff;}

.wrap-register {background-color:#f6f6f6;padding-bottom:60px;padding-top:50px;}
.wrap-register .register a{color:#256fba}
.wrap-register .register {margin:20px 250px;padding:50px 60px;background-color:#fff}
.wrap-register .register .from-register{padding:30px 0px 0px 50px;}
.wrap-register .register input{width:100%;border:1px #ebebeb solid;height:20px;padding:10px 0px;margin:5px 0px 15px 0px}
.wrap-register .register button{width:100%;border:2px #1e66ae solid;padding:0px 10px;height:44px;margin:30px 0px 20px 0px;background-color:#1e66ae;color:#fff;}
.wrap-register .register label{display:inline-block;width:100%}
.wrap-register .register .checkbox{width:initial}
.wrap-register .register .capchar{width:initial;float:left}

.cat .cart .product-content{}
.cat .cart .product-content .left{width:30%;}
.cat .cart .product-content .left .img{margin-right:5px;}
.cat .cart .product-content .right{width: 70%;}
.cat .cart .product-content{border-top:1px #d7d7d7 solid;padding:10px 0px;}
.cat .cart .product-content .discount{font-size:14px;font-weight:700}
.cat .cart .product-content span{font-size:12px;text-decoration:line-through;}

.icheckbox_square{position:_absolute;top:-1px;left:0}
.iradio_square{left:37px}
.iradio_square{position:_absolute;top:-1px;left:0}
.icheckbox_square, .iradio_square {display: inline-block;vertical-align: middle;margin: 0;padding: 0;width: 18px;height: 18px;background: url(../images/blue.png) no-repeat;border: none;cursor: pointer;margin: 5px 10px 5px 0px;}
.icheckbox_square.checked {background-position: -40px 0;}

.cat .display-product, .order-product{margin: 10px 10px 10px 0px;}
.cat .display-product select,.order-product select,.block-order-product select{padding: 0px 30px 0px 30px;width:100%;height:50px;}
.cat .brand-price {margin: 10px 10px 0px 0px;padding: 10px 5px 5px 30px;}
.cat .brand-price .brand{border-bottom:1px #d7d7d7 solid;margin-bottom: 20px;}
.cat .cat-child {margin: 10px 10px 0px 0px;padding: 10px 5px 5px 30px;line-height:30px}
.cat .sale-off {position: absolute;top: 0px;right: 0px;background-color:#ff0000;border-radius:50%;color:#fff;padding:8px 5px;width: 35px;line-height: 12px;}

.cat .category .product{float:left;width:33.3333333%;padding-top:10px;padding-bottom:10px;border-bottom:1px dashed #e1e1e1}
.cat .category .product .product-content {padding-left:3px;position: relative;}
.cat .category .product .title{padding:20px 0px 25px 0px;min-height:45px;}
.cat .category .product .price{text-align:right;}
.cat .category .product .price .discount{color:#ff082b;font-size:15px;font-weight:700}
.cat .category .product .price span{font-weight:100;font-size:13px;text-decoration:line-through;}
.cat .category .product .price p{padding-bottom:0px;}
.cat .category .product .buy{padding-top:15px;width:90%;padding-left:5%}
.cat .category .product .buy div{font-weight:100;color:#818181;background-color:#ebebeb;padding: 5px 10px;text-align: center;}
.cat .category .product .buy div:hover{color:#fff;background-color:#ec2c39;}
.cat .category .product .img img{width:100%;}

.cat .category-search .product{float:left;width:25%;padding-top:10px;padding-bottom:10px;border-bottom:1px dashed #e1e1e1}
.cat .category-search .product .product-content {padding-left:3px;position: relative;}
.cat .category-search .product .title{padding:20px 0px 25px 0px;min-height:45px;}
.cat .category-search .product .price{text-align:right;}
.cat .category-search .product .price .discount{color:#ff082b;font-size:15px;font-weight:700}
.cat .category-search .product .price span{font-weight:100;font-size:13px;text-decoration:line-through;}
.cat .category-search .product .price p{padding-bottom:0px;}
.cat .category-search .product .buy{padding-top:15px;width:90%;padding-left:5%}
.cat .category-search .product .buy div{font-weight:100;color:#818181;background-color:#ebebeb;padding: 5px 10px;text-align: center;}
.cat .category-search .product .buy div:hover{color:#fff;background-color:#ec2c39;}
.cat .category-search .product .img{border:2px solid transparent;}
.cat .category-search .product .img:hover{border:2px solid #af3443;}
.cat .category-search .product .img img{width:100%;}
.cat .category-search .block-order-product {padding: 70px 0px;line-height: 50px;}

.cat .category-deal .product{float:left;width:50%;padding-top:10px;padding-bottom:10px;border-bottom:1px dashed #e1e1e1}
.cat .category-deal .product .product-content:hover{border:2px solid #ec2c39}
.cat .category-deal .product .product-content {border:2px solid #f6f6f6;position: relative;}
.cat .category-deal .product .title{padding:5px 15px 10px 15px;}
.cat .category-deal .product .position{background: url(../images/location.png) right no-repeat;margin-right: 10px;padding-right: 20px !important;}
.cat .category-deal .product .due div{font-weight:700}
.cat .category-deal .product .position,
.cat .category-deal .product .due,
.cat .category-deal .product .price{text-align:right;padding:0px 15px 5px 15px}
.cat .category-deal .product .price .discount{color:#ff082b;font-size:15px;font-weight:700}
.cat .category-deal .product .price span{font-weight:100;font-size:13px;text-decoration:line-through;}
.cat .category-deal .product .price p{padding-bottom:0px;}
.cat .category-deal .product .buy{padding:0px 15px 5px 15px}
.cat .category-deal .product .buy div{font-weight:100;color:#818181;background-color:#ebebeb;padding: 5px 10px;text-align: center;}
.cat .category-deal .product:hover .buy div{color:#fff;background-color:#ec2c39;}
.cat .category-deal .product .img img{width:100%;}
.cat .category-deal .block-position{height:50px;line-height:50px;margin-bottom:20px;background-color:#464646;color:#fff;text-transform:uppercase}
.cat .category-deal .block-position .active{background-color:#ec2c39;position:relative;}

.cat .category-deal .block-position .active:after {content:'';position: absolute;top: 100%;left: 50%;margin-left: -10px;width: 0;height: 0;border-top: solid 10px #ec2c39;border-left: solid 10px transparent;border-right: solid 10px transparent;}

.cat .category-food .product{float:left;width:25%;padding-top:10px;padding-bottom:10px;border-bottom:1px dashed #e1e1e1}
.cat .category-food .product .product-content {padding-left:3px;position: relative;}
.cat .category-food .product .title{padding:20px 0px 25px 0px;min-height:45px;}
.cat .category-food .product .price{text-align:right;}
.cat .category-food .product .price .discount{color:#ff082b;font-size:15px;font-weight:700}
.cat .category-food .product .price span{font-weight:100;font-size:13px;text-decoration:line-through;}
.cat .category-food .product .price p{padding-bottom:0px;}
.cat .category-food .product .buy{padding-top:15px;width:90%;padding-left:5%}
.cat .category-food .product .buy div{font-weight:100;color:#818181;background-color:#ebebeb;padding: 5px 10px;text-align: center;}
.cat .category-food .product:hover .buy div{color:#fff;background-color:#ec2c39;}
.cat .category-food .product .img{border:2px solid #fff}
.cat .category-food .product:hover .img{border:2px solid #ec2c39}
.cat .category-food .product .img img{width:100%;}

.cart .product, .cart .address{padding:40px 60px}
.cart .product {margin-bottom:60px}
.cart .address span{font-weight:700}
.cart .address a{background: url(../images/icon_add.png) left no-repeat;color:#3978ec;padding:30px 0px 30px 30px;}
.cart .border-detail{border:1px solid #cccccc;margin-bottom:20px;}
.cart .coupons{border-bottom:1px dashed #cccccc;margin-bottom:20px;padding-bottom:20px;}
.cart .coupons span{border:1px solid #cccccc;padding:5px 10px;}
.cart .from-coupons input{border:2px #e1e1e1 solid;border-right:none;height:16px;padding:5px 0px;}
.cart .from-coupons button{height:30px;margin:0px;background-color:#e1e1e1;color:#4b4b4b;margin-left:-10px;border:2px #e1e1e1 solid;border-left:none;padding:5px 20px;}
.cart .confirm-order textarea{padding:5px 20px;width:80%;max-width:80%;border:1px #e1e1e1 solid;margin-top:10px;}
.cart .confirm-order .btn-confirm-pay span{padding:10px 30px;background-color:#eb2b39;line-height:50px;color:#fff;text-transform:uppercase}
.cart .confirm-order .total{color:#eb2b39}
.cart .add-address {padding:20px 30px;}
.cart .add-address .form-address{padding:20px 30px;text-align:right}
.cart .add-address .address-exist{padding:30px 0px;}
.cart .add-address .address-select{padding:5px 10px;border:1px solid #d7d7d7;margin:10px 0px}
.cart .add-address .address-list{padding:5px 10px;border:1px solid #d7d7d7;}
.cart .add-address .address-list div{line-height: 30px;padding:0px 0px 0px 30px;background: url(../images/icon_select.png) 0px -25px no-repeat;}
.cart .add-address .address-list div.active{background: url(../images/icon_select.png) 0px 3px no-repeat;}
.cart .add-address input,.cart .add-address select,.cart .add-address textarea{width:60%;max-width:60%;padding:0px;margin:0px;background-color:transparent;border:1px solid #d7d7d7;margin-top:10px;}
.cart .add-address input,.cart .add-address select{height:25px;}
.cart .product-detail:last-child{border-bottom:none;}
.cart .product-detail {border-bottom:1px solid #cccccc;padding:20px;}
.cart .product-detail .img{}
.cart .product-detail .name{}
.cart .product-detail .quantity .subtraction{border:1px solid #636363;padding:0px 10px;background-color:#636363;}
.cart .product-detail .quantity .addition{border:1px solid #145ca9;height:20px;padding:0px 5px;background-color:#145ca9;}
.cart .product-detail .quantity .text{color:#636363;border-bottom:1px solid #636363;border-top:1px solid #636363;    padding: 0px 15px;margin: 0px -6px 0px -6px;}
.cart .product-detail .quantity .form{color:#fff;font-size:20px;cursor:pointer;padding:10px 10px 20px 10px;border-bottom:1px solid #ebebeb;}
.cart .product-detail .quantity .remove-cart{background: url(../images/icon_remove.png) 0px 15px no-repeat;color:#aaaaaa;padding-top:15px;padding-left: 20px;}
.cart .product-detail .total{color:#eb2b39}
.cart .product-detail .price,
.cart .product-detail .total{padding-top:40px;font-size:16px;font-weight:700;}
.cart .cart-title {padding:20px 0px;}
.cart .cart-title .step{position: relative;padding:10px 40px;background-color:#b7b7b7;color:#fff;text-transform:uppercase}
.cart .cart-title .step.step2{background-color:#cccccc;}
.cart .cart-title .step.step1:after {border-left: 20px solid #b7b7b7;}
.cart .cart-title .step.step1.active:after {border-left: 20px solid #1e67af;}
.cart .cart-title .step.step2:after {border-left: 20px solid #cccccc;}
.cart .cart-title .step.step2.active:after {border-left: 20px solid #1e67af;}

.select-province .from-position{padding-left:20%;padding-top:40px;padding-bottom:40px;width:60%}
.select-province .from-position input{border:2px #d6d6d6 solid;border-right:none;height:20px;padding:10px 0px;width:80%}
.select-province .from-position button{width:20%;height:44px;margin:0px;background-color:#eb2b39;color:#fff;margin-left:-10px;border:2px #d6d6d6 solid;border-left:none;}

.cart .cart-title .step:after {content: '';display: block;position: absolute;left: 100%;top: 0%;margin-top: 0px;width: 0;height: 0;border-top: 22px solid transparent;border-right: 20px solid transparent;border-bottom: 20px solid transparent;}
.cart .cart-title .step.active{background-color:#1e67af;}

.cat .product-detail .list-images li{float:left;width:100px;margin-right:10px;}
.cat .product-detail .list-images li img{border:2px solid transparent}
.cat .product-detail .list-images li  .active{border:2px solid #f80b43}
.cat .product-detail .price{margin-top:10px;border-top:1px solid #e8e8e8}
.cat .product-detail .price span{color:#ff0000;font-size:18px;}
.cat .product-detail .price span.sale_off{font-size:16px;}
.cat .product-detail .option {padding:5px 0px}
.cat .product-detail .option span{border:1px solid transparent;padding:2px 10px;cursor:pointer}
.cat .product-detail .option span.active{border:1px solid #ff0000}
.cat .product-detail .quantity span{border:1px solid #ff0000;padding:2px 30px;}

.cat .product-detail .add-to-cart {margin-top:20px;color:#fff;text-transform:uppercase;font-size:16px;}
.cat .product-detail .add-to-cart .img{background-color:#c0131f;}
.cat .product-detail .add-to-cart .text{padding:10px 20px;line-height:30px;background-color:#ec2c39;}

.paging {padding:70px 0px;line-height:50px;}
.paging ul{float:right;}
.paging li{margin:0px 5px;float:left;height:50px;width:50px;text-align:center;background-color:#e7e7e7}
.paging li:hover,.paging li.active{background-color:#ec2c39}
.paging li a{color:#fff;display:inline-block}

.progress[data-percent] {position: relative;}
.progress {border-radius: 0;height: 18px;box-shadow: none;background: #dadada;}
.progress {height: 10px;margin-bottom: 20px;overflow: hidden;background-color: #f7f7f7;background-image: -moz-linear-gradient(top,#f5f5f5,#f9f9f9);background-image: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));background-image: -webkit-linear-gradient(top,#f5f5f5,#f9f9f9);background-image: -o-linear-gradient(top,#f5f5f5,#f9f9f9);background-image: linear-gradient(to bottom,#f5f5f5,#f9f9f9);background-repeat: repeat-x;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
.progress .bar {background-image: none;background-color: #2a91d8;box-shadow: none;line-height: 18px;float: left;width: 0;height: 100%;font-size: 12px;color: #fff;text-align: center;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);background-color: #0e90d2;background-image: -moz-linear-gradient(top,#149bdf,#0480be);background-image: -webkit-gradient(linear,0 0,0 100%,from(#149bdf),to(#0480be));background-image: -webkit-linear-gradient(top,#149bdf,#0480be);background-image: -o-linear-gradient(top,#149bdf,#0480be);background-image: linear-gradient(to bottom,#149bdf,#0480be);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: width .6s ease;-moz-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;}

/* The Modal (background) */
.modal {display: none;position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal .close-modal  {display:none}
.modal .modal-content {background-color: #fefefe;margin: 5% auto;padding: 10px;width: 60%;}
.modal .modal-content.location{color: #fff;background: url(../images/bg_location.png) bottom center no-repeat;min-height: 450px;}
.modal .modal-content.location .close {float: right;background: url(../images/icon_close.png) center no-repeat;width: 40px;height: 39px;cursor: pointer;}
.modal .modal-content.location .title {font-size: 16px;text-transform:uppercase}
.modal .modal-content.location .from-position{padding-left:20%;padding-top:20px;width:60%}
.modal .modal-content.location .from-position input{border:2px #898989 solid;border-right:none;height:20px;padding:10px 0px;width:80%}
.modal .modal-content.location .from-position button{width:20%;height:44px;margin:0px;background-color:#f80b43;color:#fff;margin-left:-10px;border:2px #898989 solid;border-left:none;}

@media screen and (max-width:1400px) {
	.wrapper {width:100%}
}
@media screen and (max-width:1200px) {
	.wrapper {width:1200px;margin: 0 auto;}
}
@media screen and (max-width:890px) {
	.wrapper {width:100%}
	.footer .register .from-register input{width:80%;}
	.footer .register .from-register button{padding:0px;width:20%;}
	
	.cat-top{display:none}
	.w21{width:50%}
	.w24{width:50%}
	.w55{width:100%}
	.search .cart span{display:none}
	.product-ad .w24{width:100%}
	.product-ad .w24 img{width:50%;float:left}

	.product-deal .product-deal-right .product{padding-left:1px;}
	.product-deal .product-deal-left .product{padding-right:1px;}

	.w25{width:50%}
	.w20{width:0%;display:none}
	.w50{width:100%}
	.w60{width:100%}
	.w80{width:100%}
	.wrapper {width:100%}
	.register .w50 .w50{width:auto}
	.product-deal-middle .w50{width:50%}
	.footer .block-parent .block {padding-bottom:15px}
	
	.footer .register .pay{text-align:left;padding-bottom:10px;}
	.footer .register .from-register{text-align:left;}
	
	.product-cat .product-cat-left, 
	.product-cat .product-cat-right{float:left;width:100%;}
	.cat-more{display:none;}
	.register span{display:none;}
	
	.wrap-login{margin:20px 0px;padding: 50px 20px;}
	.wrap-register .register{margin:20px 0px;padding: 50px 20px;}
	.wrap-register .register .from-register{padding:30px 20px 0px 0px;}
}
@media screen and (max-width:480px) {
	.header{padding-top:40px;}
	.header .w21{width:0%}
	.header .w24{width:100%}
	.header .w55{width:0%}
	.header .w50{width:50%}
	.product-deal-middle .w50{width:25%}
	.product-deal .w50 .w50 .w50{width:100%}
}