<div class="left w20">
	<div class="bgebebeb ml10 mt10 p10">
		<div class="text-center mb10">
			Chúc mừng bạn đã được <span>FREE<span> ship
		</div>
		<div class="progress progress-success progress-striped" data-percent="25%">
			<div class="bar" style="width: 100%;"></div>
		</div>

		<div class="text-center mb10 fw">
			GIỎ HÀNG CỦA BẠN
		</div>
		<div class="cart">
			<div class="product-content" ng-repeat="cart in ctrl.carts track by $index">
				<div class="left" style="width:20%">
					<div class="pt10 img text-center">
						{{cart.quantity}}
					</div>
				</div>
<!-- 				<div class="right">
					<div class="product-name pb10">
						<a ng-click="ctrl.openDetail(cart.product_id)">{{cart.name}}</a>
					</div>
				</div> -->
<!-- 				<div class="clearfix"></div> -->
				<div>
					<div class="left" >
						<div class="img">
							<a ng-click="ctrl.openDetail(cart.product_id)"><img src="{{cart.image}}" /></a>
						</div>
					</div>
					<div class="left">
						<div class="price">
							<p class="mt10 discount"><br ng-if="cart.compare_at_price >= cart.price" />{{cart.compare_at_price | number}}đ</p>
							<span ng-if="cart.compare_at_price < cart.price">{{cart.price | number}}đ</span>
						</div>
					</div>
				</div>
				<div><button ng-click="ctrl.removeCart(cart.id)">X</button></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div>Tổng tiền: {{ctrl.totalAmount | currency: "": 0}}</div>
	</div>
</div>
<!-- Popup thông báo -->
<div id="confirm-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:180px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="contmid">Quý khách có chắc chắn xóa sản phẩm này không?</div>

            <div class="modal-footer">
                <button type="button" class="btleft bt" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btright bt" ng-click="ctrl.submitRemove()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div id="popupAlert" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:180px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="contmid" style="text-align: center">
                {{ctrl.popMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btcenter bt" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>