<div class="product-content" ng-repeat="cart in cartRightCtrl.carts track by $index">
	<div class="left">
		<div class="pt10 img text-center">
			{{cart.quantity}}
		</div>
	</div>
	<div class="right">
		<div class="product-name pb10">
			<a ng-click="cartRightCtrl.openDetail(cart.product_id)">{{cart.name}}</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="left">
		<div class="img">
			<a ng-click="cartRightCtrl.openDetail(cart.product_id)"><img src="{{cart.image}}" /></a>
		</div>
	</div>
	<div class="right">
		<div class="price">
			<p class="mt10 discount"><br ng-if="cart.compare_at_price >= cart.price" />{{cart.compare_at_price | number}} VND</p>
			<span ng-if="cart.compare_at_price < cart.price">{{cart.price | number}} VND</span>
		</div>
	</div>
	<div class="clearfix"></div>
</div>