<!-- footer -->
<section class="wrapper">
	<div class="footer clearfix">
		<div class="clearfix block-top">
			<div class="w25 left">
				<div class="block">
					<img src="/assets/images/footer_icon_support_user.png"/>
					<div class="title">Hỗ trợ người mua</div>
					<div class="content">Chúng tôi sẽ hoàn lại tiền nếu mặt hàng không đúng mô tả hoặc có chất lượng kém</div>
				</div>
			</div>
			<div class="w25 left">
				<div class="block">
					<img src="/assets/images/footer_icon_transport.png"/>
					<div class="title">Vận chuyển đảm bảo</div>
					<div class="content">Bạn sẽ nhận được tiền hoàn lại đầy đủ nếu đơn đặt hàng của bạn không nhận được</div>
				</div>
			</div>
			<div class="w25 left">
				<div class="block">
					<img src="/assets/images/footer_icon_pay.png"/>
					<div class="title">Thanh toán an toàn</div>
					<div class="content">THanh toán bằng phương thức phổ biến và an toàn</div>
				</div>
			</div>
			<div class="w25 left">
				<div class="block">
					<img src="/assets/images/footer_icon_target.png"/>
					<div class="title">Thương hiệu uy tín</div>
					<div class="content">100% nhà cung cấp có thương hiệu uy tín</div>
				</div>
			</div>
		</div>
		<div class="clearfix block-bottom">
			<div class="w25 left">
				<div class="block">
					<div class="title">Giới thiệu về vnshop</div>
					<div class="content">
						Hồ sơ doanh nghiệp</br>
						Hồ sơ của người sáng lập</br>
						Nhiệm vụ và Giá trị</br>
						Quan hệ đầu tự
					</div>
				</div>
			</div>
			<div class="w25 left">
				<div class="block">
					<div class="title">Kiếm tiền với chúng tôi</div>
					<div class="content">
						Bán trên joybuy.com</br>
						Người tìm việc
					</div>
				</div>
			</div>
			<div class="w25 left">
				<div class="block">
					<div class="title">Buyer protect</div>
					<div class="content">
						Safe payment</br>
						Refund & Return</br>
						Privacy Prolicy
					</div>
				</div>
			</div>
			<div class="w25 left">
				<div class="block">
					<div class="title">Hãy để chúng tôi giúp bạn</div>
					<div class="content">
						Liên hệ với chúng tôi </br>
						Điều kiện và điều khoản
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix register">
			<div class="w50 left">
				<div class="w50 left association">
					<span>Liên kết với</span>
					<a><img src="/assets/images/icon_facebook.png"/></a>
					<a><img src="/assets/images/icon_p.png"/></a>
					<a><img src="/assets/images/icon_o.png"/></a>
				</div>
				<div class="w50 right pay">
					<span>Thanh toán</span>
					<a><img src="/assets/images/icon_paypal.png"/></a>
					<a><img src="/assets/images/icon_visa.png"/></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="w50 right">
				<form class="from-register">
					<input type="text" ng-model="footerCtrl.email" />
					<button ng-click="footerCtrl.addEmail(footerCtrl.email)">Xác nhận</button>
				</form>
			</div>
		</div>
	</div>
</section>