<div class="header clearfix">
	<div class="wrapper">
		<a href="#">Tra cứ thông tin</a>
		<a href="#">Chăm sóc khách hàng</a>
	</div>
</div>
<section class="wrapper">
    <div class="container">
		<div class="search pb10 clearfix">
			<div class="left w21" ng-click="headerCtrl.openHome()">
				<img src="/assets/images/logo.png" />
			</div>
			<div class="right w24 cart">
				<a href="javascripts:;" ng-click="headerCtrl.openCart()">
					<img src="/assets/images/icon_cart.png"/>
					<span>Giỏ hàng</span>
				</a>
				<a href="javascripts:;" ng-click="headerCtrl.openLogin()">
					<img src="/assets/images/icon_user.png"/>
					<span>Đăng nhập</span>
				</a> 
				<span>| <a href="javascripts:;" ng-click="headerCtrl.openRegister()">Đăng ký</a></span>
			</div>
			<div class="left w55">
				<form class="from-search">
					<input type="text" />
					<button>Tìm kiếm</button>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="cat-top clearfix">
		<div class="left w21">
			<div class="cat clearfix">
				<div class="red">
					<div class="title-cat">
						<img src="/assets/images/icon_categories.png" />
						<span>CATEGORIES</span>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="cat-more">
			<a ng-repeat="menu in headerCtrl.subMenu track by $index" ng-if="$index < 5" href="javascripts:;" ng-click="headerCtrl.openCategory(menu.id)">{{menu.name}}</a>
		</div>
		<div class="clearfix"></div>
	</div>
</section>