<div class="header clearfix">
	<div class="wrapper">
		<a href="#">Tra cứ thông tin</a>
		<a href="#">Chăm sóc khách hàng</a>
	</div>
</div>
<section class="wrapper">
    <div class="container">
		<div class="search pb10 clearfix">
			<div class="left w21">
				<img src="/assets/images/logo.png" />
			</div>
			<div class="right w24 cart">
				<a href="gio-hang.html">
					<img src="/assets/images/icon_cart.png"/>
					<span>Giỏ hàng</span>
				</a>
				<a href="dang-nhap.html">
					<img src="/assets/images/icon_user.png"/>
					<span>Đăng nhập</span>
				</a> 
				<span>| <a href="dang-ky.html">Đăng ký</a></span>
			</div>
			<div class="left w55">
				<form class="from-search">
					<input type="text" />
					<button>Tìm kiếm</button>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="cat-top clearfix">
		<div class="left w20">
			<div class="cat clearfix">
				<div class="red">
					<div class="title-cat">
						<img src="/assets/images/icon_categories.png" />
						<span>CATEGORIES</span>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="cat-more">
			<a href="">Du lịch</a>
			<a href="">Thời trang nữ</a>
			<a href="">Ẩm thực</a>
			<a href="">Đồ công nghệ</a>
			<a href="">Làm đẹp</a>
			<a href="">Làm đẹp</a>
		</div>
		<div class="clearfix"></div>
	</div>
</section>