<section class="bgf6f6f6">
	<div class="wrapper">
		<div class="container cat">
			<div class="pb10 clearfix">
				<img src="{{ctrl.category.product_image}}" />
			</div>
			<div class="block_menu bgebebeb mb10 pl5 clearfix">
				<a ng-click="ctrl.openHome()"><img src="/assets/images/icon_home.png"/> VNSHOP</a>>
				<a ng-repeat="parent in ctrl.parents track by $index" ng-click="ctrl.openCategory(parent.id)">{{parent.name}} ></a>
				<a class="fw">{{ctrl.category.name}}</a>
			</div>
			<div class="product pb10 clearfix">
				<div class="left w20">
					<div class="order-product bgffffff"> 
						<select ng-model="ctrl.sort" ng-change="sort()">>
							<option value="" ng-selected="selected">-- Sắp xếp theo --</option>
							<option value="1">Giá tăng dần</option>
							<option value="2">Giá giảm dần</option>
							<option value="3">Sản phẩm mới</option>
						</select>
					</div>
					
					<div class="display-product bgffffff"> 
						<select ng-model="ctrl.limit" ng-change="limit()">>
							<option value="12" ng-selected="selected">Hiển thị 12 sản phẩm</option>
							<option value="24">Hiển thị 24 sản phẩm</option>
							<option value="60">Hiển thị 60 sản phẩm</option>
							<option value="90">Hiển thị 90 sản phẩm</option>
						</select>
					</div>
					
					<div ng-if="ctrl.subMenu.children.length > 0" class="cat-child bgffffff"> 
						<div class="pb10 pt10 fw">LỌC THEO NGÀNH HÀNG</div>
						<div class="child pl10">
							<div class="pl10 pb10">
								<div ng-repeat="menu in ctrl.subMenu.children track by $index"><a ng-click="ctrl.openCategory(menu.id)">{{menu.name}}</a></div>
							</div>
						</div>
					</div>
					
					<div class="brand-price bgffffff"> 
						<div ng-if="ctrl.brands.length > 0" class="brand">
							<div class="pb10 fw">THƯƠNG HIỆU</div>
							<div class="pb10">
								<div ng-repeat="brand in ctrl.brands track by $index">
									<div ng-if="ctrl.brandId.indexOf(brand.id) > -1" ng-click="ctrl.openBrand(brand.id, 1)">
										<input type="checkbox" checked value="{{brand.id}}" /><span>{{ brand.name | limitTo: 20 }}{{brand.name.length > 20 ? '...' : ''}}</span>
									</div>
									<div ng-if="ctrl.brandId.indexOf(brand.id) <= -1" ng-click="ctrl.openBrand(brand.id)">
										<input type="checkbox" value="{{brand.id}}" /><span>{{ brand.name | limitTo: 20 }}{{brand.name.length > 20 ? '...' : ''}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="price">
							<div class="pb10 fw">KHOẢNG GIÁ</div>
							<div class="pb10">
								<div ng-if="'0,500000' == ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('0,500000', 1)"><input type="checkbox" checked /><span>Dưới 500.000</span></div>
								</div>
								<div ng-if="'0,500000' != ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('0,500000')"><input type="checkbox" /><span>Dưới 500.000</span></div>
								</div>
								<div ng-if="'500000,1500000' == ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('500000,1500000', 1)"><input type="checkbox" checked /><span>500.000 - 1.500.000</span></div>
								</div>
								<div ng-if="'500000,1500000' != ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('500000,1500000')"><input type="checkbox" /><span>500.000 - 1.500.000</span></div>
								</div>
								<div ng-if="'1500000,2500000' == ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('1500000,2500000', 1)"><input type="checkbox" checked /><span>1.500.000 - 2.500.000</span></div>
								</div>
								<div ng-if="'1500000,2500000' != ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('1500000,2500000')"><input type="checkbox" /><span>1.500.000 - 2.500.000</span></div>
								</div>
								<div ng-if="2500000 == ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('2500000', 1)"><input type="checkbox" checked /><span>Trên 2.500.000</span></div>
								</div>
								<div ng-if="2500000 != ctrl.ratePrice">
									<div ng-click="ctrl.openRatePrice('2500000')"><input type="checkbox" /><span>Trên 2.500.000</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="left w80">
					<div class="category-deal">
						<div class="text-center block-position">
							<div class="left w50" ng-class="{true:'active', false: ''}[ctrl.provinceId == '1']">
								<a ng-click="ctrl.openOtherDeal(1)">Khu vự TP Hà Nội</a>
							</div>
							<div class="right w50" ng-class="{true:'active', false: ''}[ctrl.provinceId == '2']">
								<a ng-click="ctrl.openOtherDeal(2)">Khu vự TP Hồ Chí Minh</a>
							</div>
						</div>
						<div class="clearfix"></div>
						
						<div ng-if="!ctrl.hasData">Không tìm thấy sản phẩm</div>
						<div class="product" ng-repeat="product in ctrl.products track by $index">
							<div class="product-content">
								<div class="left w50">
									<div class="img">
										<a ng-click="ctrl.openDetail(product.id)"><img src="{{ product.image }}" /></a>
									</div>
								</div>
								<div class="right w50">
									<div class="title"><a ng-click="ctrl.openDetail(product.id)">{{ product.name | limitTo: 60 }}{{product.name.length > 60 ? '...' : ''}}</a></div>
									
									<div class="position" ng-repeat="location in product.locations track by $index">{{location.name}}</div>
									<div class="due">Thời gian áp dụng:<div>{{product.start_date}} - {{product.expired_date}}</div></div>
									<div class="price">
										<p class="discount"><br ng-if="cart.compare_at_price >= cart.price" />{{ product.compare_at_price | number }} đ</p>
										<span ng-if="product.compare_at_price < product.price">{{ product.price | number }} đ</span>
									</div>
									<div class="buy"><div ng-click="ctrl.addProductToCart(product)">Mua ngay</div></div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="paging" ng-if="ctrl.hasData">
						<ul ng-if="ctrl.paging.length > 1">
							<li ng-if="ctrl.pageCurrent > 5" ng-click="ctrl.openPage(1)" ><a>&lsaquo;</a></li>
							<li ng-repeat="(key, value) in ctrl.paging" ng-click="ctrl.openPage(value)" ng-class="{true: 'active', false: ''}[ctrl.pageCurrent == value]"><a>{{value}}</a></li>
							<li ng-if="ctrl.pageCurrent < +ctrl.totalPage - 4" ng-click="ctrl.openPage(ctrl.totalPage)" ><a>&rsaquo;</a></li>
						</ul>
						<div class="right">TỪ {{+ctrl.offset + 1}} ĐẾN {{ ctrl.pageCurrent == ctrl.totalPage ? +ctrl.totalRecord : +ctrl.offset + +ctrl.limit}} CỦA {{+ctrl.totalRecord}} SẢN PHẨM <span ng-if="ctrl.paging.length > 1">|<span> </div>
					</div>
					&nbsp
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- The Modal -->
<div id="popupInfo" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="clearfix"></div>
		<div class="title">Thông báo <a class="close right" rel="modal:close"><i class="fa fa-times"></i></a></div>
		<div class="text-center content">{{ctrl.msgPopup}}</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.product input').iCheck({
			checkboxClass: 'icheckbox_square',
			radioClass: 'iradio_square',
			increaseArea: '20%'
		});
	});
</script>