<main>
    <div class="container py24">
        <div class="row">
            <ol class="breadcrumb content">
                <li class="breadcrumb-item"><a href="/#">VNSHOP</a></li>
                <li class="breadcrumb-item active">Đăng nhập</li>
            </ol>
        </div>

        <div class="row mt16 content py16">
            <div class="col-6 offset-1 text-grey">
                <form class="from-register" name="myForm">
                    <label for="email">Email:</label>
                    <input class="input-control" type="email" ng-model="ctrl.email" id="email" required ng-minlength="3" type="email">
                    <label class="mt32" for="password">Mật khẩu:</label>
                    <input class="input-control" ng-model="ctrl.password" id="password" required ng-minlength="1" type="password">

                    <div class="d-flex justify-content-between mt16">
                        <div class="text-blue" ng-click="ctrl.openSignin()">Đăng kí tài khoản mới</div>
                        <div class="text-grey" ng-click="ctrl.openForgotPassword()">Bạn quên mật khẩu</div>
                    </div>
                    <div>{{ctrl.message}}</div>
                    <button class="button-normal-grey bg-blue w-100 mt32" type="button" ng-click="ctrl.login()" type="submit" ng-disabled="myForm.$invalid">Đăng nhập</button>
                </form>
            </div>

            <div class="col-1 text-grey d-flex flex-column align-items-center">
                <div class="line-grow"></div>
                <div class="py16 font-size-14">Hoặc</div>
                <div class="line-grow"></div>
            </div>

            <div class="col-4 text-grey">
                <div>Đăng nhập với</div>
                <div ng-if="!ctrl.isLoginMobile">
                    <div class="row mt8">
                        <div class="col-6">
                            <div class="border-box-blue d-flex justify-content-between align-items-center" ng-click="ctrl.authenticate('facebook')">
                                <img class="h-100" src="/assets/images/box-fb.png" alt="">
                                <div class="text-blue px8">FACEBOOK</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="border-box-blue d-flex justify-content-between align-items-center" ng-click="ctrl.authenticate('google')">
                                <img class="h-100" src="/assets/images/box-google.png" alt="">
                                <div class="text-blue px8">GOOGLE</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt32">Hoặc với Số điện thoại di động của bạn</div>
                <div class="d-flex mt8">
                    <div class="flex-base-6">
                        <input class="input-control h-100" type="number">
                    </div>
                    <div class="flex-base-6">
                        <button class="button-normal-grey bg-blue w-100" type="button" ng-click="ctrl.loginMobile()">Đăng nhập</button>
                    </div>
                </div>

                <div ng-if="ctrl.isLoginMobile">
                    <div class="mt32">Nhập mã xác nhận từ điện thoại:</div>
                    <div class="d-flex mt8">
                        <div class="flex-base-6 bg-grey text-center text-white py16">
                            Nhập mã xác nhận
                        </div>
                        <div class="flex-base-6">
                            <input class="input-control h-100" type="number">
                        </div>
                    </div>
                    <button class="button-normal-grey w-100 mt32 bg-blue py16" type="button">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</main>