<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<header class="fixed-top border-bottom-1 bg-white">
    <div class="container">
        <div class="row py16 align-items-center">
            <div class="col-1">
                <div class="nav-icon"><span class="icon-menu"></span></div>
            </div>
            <div class="col-2">
                <img class="logo w-75" src="../../../assets/images/logo_vnshop.png" alt="logo">
            </div>
            <div class="col-5 border-right-1">

                <div class="field">
                    <label for="field-search">
                        <span class="placeholder content">Tìm kiếm</span>
                    </label>
                    <input class="input-search content" id="field-search" type="text">
                    <div class="field-icon nav-icon">
                        <span class="icon-Search"></span>
                    </div>
                </div>

            </div>
            <div class="col-2">
                <div class="nav-icon icon-size-24 text-grey"><span class="icon-cart"></span><span class="content">&nbsp;&nbsp;Giỏ hàng của tôi</span>
                </div>
            </div>
            <div class="col-2">
                <div class="nav-icon icon-size-24 text-grey"><span class="icon-user"></span><span class="content">&nbsp;&nbsp;Đào Thái Hà</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container py24">
        <div class="row">
            <ol class="breadcrumb content">
                <li class="breadcrumb-item"><a href="#">VNSHOP</a></li>
                <li class="breadcrumb-item"><a href="#">Tài khoản của tôi</a></li>
                <li class="breadcrumb-item active">Thông tin của tôi</li>
            </ol>
        </div>


        <div class="row mt16 content">
            <div class="col-3 text-grey">
                <div class="row content text-grey py8 ">
                    Tài khoản:&nbsp;&nbsp;<span class="text-grey-more">Nguyễn Trọng Toàn</span>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mt16 nav-icon text-grey-more"><span class="icon-user"></span>&nbsp;&nbsp;Quản lý tài
                            khoản
                        </div>
                        <div class="ml32 mt16">Thông tin của tôi</div>
                        <div class="ml32 mt16">Liên hệ</div>
                        <div class="ml32 mt16">Mật khẩu</div>
                        <div class="ml32 mt16">Quyền của tôi</div>
                        <div class="mt16 nav-icon"><span class="icon-History"></span>&nbsp;&nbsp;Lịch sử đơn hàng</div>
                        <div class="mt16 nav-icon"><span class="icon-love"></span>&nbsp;&nbsp;Danh sách
                            yêu thích
                        </div>
                        <div class="mt16 nav-icon"><span class="icon-coupon"></span>&nbsp;&nbsp;Mã giảm giá</div>
                        <div class="mt16 nav-icon"><span class="icon-last_view"></span>&nbsp;&nbsp;Sản phẩm đã xem</div>
                    </div>
                </div>
            </div>


            <div class="col-6 content">
                <div class="py16 border-bottom-1">
                    <div class="row text-grey-more py8 ">
                        <div class="col-6 text-uppercase">Thông tin của tôi</div>
                        <div class="col-6 text-right"><a class="text-blue" href="">Sửa</a></div>
                    </div>
                    <div class="row mt16 text-grey">
                        <div class="col-3">
                            <div>Họ tên:</div>
                        </div>
                        <div class="col-9">
                            <input class="input-control" type="text">
                        </div>
                    </div>
                    <div class="row mt16 text-grey">
                        <div class="col-3">
                            <div>Sinh nhật:</div>
                        </div>
                        <div class="col-3">
                            <input class="input-control" type="text">
                        </div>
                        <div class="col-3">
                            <div>Giới tính:</div>
                        </div>
                        <div class="col-3">
                            <input class="input-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="py16">
                    <div class="row text-grey-more py8 ">
                        <div class="col-6 text-uppercase">Thay đổi thông tin cá nhân</div>
                    </div>
                    <div class="row mt16 text-grey">
                        <div class="col-3">
                            <div>Họ tên:</div>
                        </div>
                        <div class="col-9">
                            <input class="input-control" type="text">
                        </div>
                    </div>
                    <div class="row mt16 text-grey">
                        <div class="col-3">
                            <div>Sinh nhật:</div>
                        </div>
                        <div class="col-3">
                            <select class="form-control">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-control">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-control">
                                <option>01</option>
                                <option>02</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt16 text-grey">
                        <div class="col-3">
                            <div>Giới tính:</div>
                        </div>
                        <div class="col-9">
                            <select class="form-control">
                                <option>Nam</option>
                                <option>Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="py16 mt32">
                    <button class="button-normal-grey bg-blue w-100" type="button">Cập nhật thông tin</button>
                </div>


            </div>


        </div>
</main>

<footer class="border-top-1">
    <div class="container py16">
        <div class="row py16 d-flex align-items-center">
            <div class="col-3">
                <img class="logo w-50" src="../../../assets/images/logo_vnshop.png" alt="logo">
            </div>
            <div class="col-3">
                <div class="content-footer text-bold text-uppercase">
                    Liên lạc
                </div>
            </div>
            <div class="col-3">
                <div class="content-footer text-bold text-uppercase">
                    Vnshop
                </div>
            </div>
            <div class="col-3">
                <div class="content-footer text-bold text-uppercase">
                    Chăm sóc khách hàng
                </div>
            </div>
        </div>

        <div class="row py16">
            <div class="col-3">
                <div class="content-footer">Công ty TNHH Vnshop</div>
                <div class="content-footer mt8">Tầng 7 Hoàng Hòa Thám</div>
                <div class="content-footer mt8">Thụy Khê Hà Nội</div>
            </div>
            <div class="col-3">
                <div class="content-footer"><img src="../../../assets/images/icon-call.png" alt="">&nbsp;&nbsp;1900 1542</div>
                <div class="content-footer text-uppercase mt8"><img src="../../../assets/images/icon-mail.png" alt="">&nbsp;&nbsp;suport@vn.com
                </div>
            </div>
            <div class="col-3 text-uppercase">
                <div class="content-footer">Giới thiệu</div>
                <div class="content-footer mt8">Tuyển dụng</div>
                <div class="content-footer mt8">Đối tác</div>
            </div>
            <div class="col-3 text-uppercase">
                <div class="content-footer">Hỏi đáp</div>
                <div class="content-footer mt8">Chính sách đổi trả</div>
                <div class="content-footer mt8">Điều khoản quy định</div>
                <div class="content-footer mt8">Giao hàng</div>
                <div class="content-footer mt8">Thuế</div>
            </div>
        </div>

    </div>
</footer>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/tether.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>
    (function () {

        var fieldSearch = $('#field-search');
        fieldSearch.focus(function () {
            $('.field label').hide();
        });

        fieldSearch.blur(function () {
            if ($(this).val() === '') {
                $('.field label').show();
            }
        });


    })();
</script>
</body>
</html>