<main>
    <div class="container py24">
        <div class="row">
            <ol class="breadcrumb content">
                <li class="breadcrumb-item"><a href="/#/">VNSHOP</a></li>
                <li class="breadcrumb-item active">Đăng ký</li>
            </ol>
        </div>

        <div class="row mt16 content py16">
            <div class="col-6 offset-1 text-grey">
                <form name="myForm">
                    <label for="form-email">Email:</label>
                    <input class="input-control" id="form-email" type="email" ng-model="ctrl.email" id="email" required ng-minlength="3">

                    <div class="row mt16">
                        <div class="col-6">
                            Giới tính
                        </div>
                        <div class="col-6">
                            Số điện thoại:
                        </div>
                    </div>

                    <div class="row mt8 align-items-center">
                        <div class="col-6 d-flex">
                            <div><input class="" type="radio" ng-model="ctrl.gender" name="gender" value="1"> Nam</div>
                            <div class="ml16"><input class="" ng-model="ctrl.gender" type="radio" name="gender" value="0"> Nữ</div>
                        </div>
                        <div class="col-6">
                            <div><input class="input-control" type="text" ng-model="ctrl.phone" id="phone" required ng-minlength="8"></div>
                        </div>
                    </div>

                    <div class="row mt16">
                        <div class="col-12 d-flex justify-content-between">
                            <div>Mật khẩu:</div>
                            <div ng-if="!ctrl.checkPassword" class="text-blue">*Mật khẩu chứa ít nhất 6 ký tự bao gồm cả chữ và số</div>
                        </div>
                    </div>

                    <input class="input-control mt8" type="password" ng-model="ctrl.password">

                    <div class="row mt16">
                        <div class="col-12 d-flex justify-content-between">
                            <div>Nhập lại mật khẩu:</div>
                            <div ng-if="!ctrl.equalPassword" class="text-red">*Mật khẩu không trùng khớp</div>
                        </div>
                    </div>

                    <input class="input-control mt8" type="password" ng-model="ctrl.repassword" id="passwordConfirm" required ng-minlength="8">

                    <div class="row mt16">
                        <div class="col-12">
                            <input class="" ng-model="ctrl.checkbox" type="checkbox"> Tôi đồng ý với những <a class="text-blue"
                                href="">điều khoản</a> của VNSHOP
                        </div>
                    </div>
                    <div ng-bind-html="ctrl.message"></div>
                    <button class="button-normal-grey bg-blue w-100 mt32" type="button" ng-click="ctrl.addAccount()">Đăng ký</button>
                </form>
            </div>

            <div class="col-1 text-grey d-flex flex-column align-items-center">
                <div class="line-grow"></div>
                <div class="py16 font-size-14">Hoặc</div>
                <div class="line-grow"></div>
            </div>

            <div class="col-4 text-grey">
                <div>Đăng nhập với</div>
                <div ng-if="!ctrl.isLoginMobile">
                    <div class="row mt8">
                        <div class="col-6">
                            <div class="border-box-blue d-flex justify-content-between align-items-center" ng-click="ctrl.authenticate('facebook')">
                                <img class="h-100" src="/assets/images/box-fb.png" alt="">
                                <div class="text-blue px8">FACEBOOK</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="border-box-blue d-flex justify-content-between align-items-center" ng-click="ctrl.authenticate('google')">
                                <img class="h-100" src="/assets/images/box-google.png" alt="">
                                <div class="text-blue px8">GOOGLE</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt32">Hoặc với Số điện thoại di động của bạn</div>
                <div class="d-flex mt8">
                    <div class="flex-base-6">
                        <input class="input-control h-100" type="number">
                    </div>
                    <div class="flex-base-6">
                        <button class="button-normal-grey bg-blue w-100" type="button" ng-click="ctrl.loginMobile()">Đăng nhập</button>
                    </div>
                </div>

                <div ng-if="ctrl.isLoginMobile">
                    <div class="mt32">Nhập mã xác nhận từ điện thoại:</div>
                    <div class="d-flex mt8">
                        <div class="flex-base-6 bg-grey text-center text-white py16">
                            Nhập mã xác nhận
                        </div>
                        <div class="flex-base-6">
                            <input class="input-control h-100" type="number">
                        </div>
                    </div>
                    <button class="button-normal-grey w-100 mt32 bg-blue py16" type="button">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</main>